/*General Stylings*/
body {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    margin-top: 0px;
}

p {
    font-size: 16px;
    color: black;
}

hr {
    border: 3px solid;

}

h1 {
    
    font-size: 75px;
    font-weight: 700;
    color: rgb(115, 161, 7);
    text-align: center;
    font-style: italic;
    padding-top: 30px;
}

h2 {
    
    font-size: 25px;
    color: rgb(115, 161, 7);
    font-weight: 200;
    text-align: center;
}

h3 {
    font-size: 20px;
    color: rgb(115, 161, 7);
    font-weight: bold;
    font-style: italic;
    text-align: center;
}
a {
    color: white;
    text-decoration: none;
    font-size: 16px;
   
}
ul {
    list-style-type: none;
    margin-bottom: 0px;
}

form {
    margin-bottom:0px;
}

input {

    margin-bottom:0px;
    width: 100%;
    
}

button {
    margin-bottom:0px;
}

a:hover {
    color: rgb(115, 161, 7);
}

button:hover {
    background-color: rgb(115, 161, 7);
    color: white;
}
button:focus {
    outline: none;
}

/*Class Stylings*/
.container{
   width: 1200px;
}
.header {
    background-color: black;
    font-family: 'Poppins', sans-serif;
    color: white;    
}

 .header nav ul li {
    display: inline-block;
    margin-top: 10px;
    
}

.cover {
    width:100px;
    height: 150px;
}

.results {
    color: white;
    margin-bottom: 5px;
    background-color: rgb(115, 161, 7);
    border: white 1px solid;
    width: 100%;

}

.results:hover {

    background-color: white;
    border:  rgb(115, 161, 7) 1px solid;
    color: rgb(115, 161, 7);

}

.search-input {

    margin-bottom: 6px;
}

/*Id stylings*/
#about {

    text-align: center;
    max-width: 75%;
    margin-right: auto;
    margin-left: auto;
}
